
@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Kumbh Sans bold";
  src: url("../fonts/KumbhSans-Bold.ttf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #af67e9), color-stop(80%, #6565e7));
  background: linear-gradient(180deg, #af67e9 30%, #6565e7 80%);
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg .card {
  background-color: #fff;
  position: relative;
  width: 90%;
  max-width: 760px;
  min-height: 420px;
  padding: 30px 30px;
  border-radius: 20px;
  position: relative;
  background-image: url("../images/illustration-woman-online-desktop.svg"), url("../images/bg-pattern-desktop.svg");
  background-repeat: no-repeat, no-repeat,no-repeat;
  background-size: 400px 300px,97%;
  background-position: left -20% top 70px,left -1700% top 70%,left top;
}

.bg .card .row-faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.bg .card .row-faq .img {
  position: relative;
  width: 50%;
  height: 100%;
}

.bg .card .row-faq .img #img-box {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(-60%, 0);
          transform: translate(-60%, 0);
}

.bg .card .row-faq .faq {
  width: 40%;
  margin-right: 8%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 30px;
}

.bg .card .row-faq .faq h1 {
  font-family: sans-serif;
  padding-bottom: 20px;
}

.bg .card .row-faq .faq .item-question {
  list-style-type: none;
  border-bottom: 1px solid #e7e7e9;
  position: relative;
  padding-right: 23px;
  cursor: pointer;
}

.bg .card .row-faq .faq .item-question .arrow {
  position: absolute;
  right: 0px;
  top: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
}

.bg .card .row-faq .faq .item-question .title-question {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  letter-spacing: .8px;
  font-size: .64rem;
  font-weight: 300;
  padding: 15px 0px;
}

.bg .card .row-faq .faq .item-question .parraph-question {

  font-size: 10px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  padding: 4px 0;
  
}

#bg-mobile{
  display: none;
  position: absolute;
}

@media (max-width: 800px) {
  .card {
    background-size: 300px 250px, 97% !important;
  }
  #img-box {
    -webkit-transform: scale(0.7) translate(-97%, -40%) !important;
            transform: scale(0.7) translate(-97%, -40%) !important;
  }
}

@media (max-width: 600px) {
  .card {
    background-image: url("../images/bg-pattern-mobile.svg") !important;
    background-size: 260px 100px !important;
    background-position: 52% -4% !important;
  }
  .card #img-box {
    display: none;
  }
  .card .img {
    width: 0% !important;
  }
  .card .faq {
    width: 100% !important;
    padding: 0 25px;
  }
  .card .faq .row-faq {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .faq h1{
    text-align: center;
    font-size: 37px;
  }

  .card{
    padding: 80px 0 50px 0 !important;
    margin-top: 50px;
  }

  #bg-mobile{
    display: block;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(45%,-60%);
  }
}

.hidden {
  display:none
}

.tittle-active {
  font-family: "Kumbh Sans bold", sans-serif !important;
}

.rotate{
  transform:  translateY(-50%) rotate(180deg) !important;
}




/*# sourceMappingURL=style.css.map */