* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 400,500,700;
  src: url("../fonts/ubuntu/Ubuntu-Regular.ttf"), url("../fonts/ubuntu/Ubuntu-Medium.ttf"), url("../fonts/ubuntu/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "overpass";
  font-weight: 300,600;
  src: url("../fonts/overpass/Overpass-Light.ttf"), url("../fonts/overpass/Overpass-SemiBold.ttf");
}

header .navbar .menu .login .btn-white, header .content-header .buttons-hero .btn-start-free, header .content-header .buttons-hero .btn-learn-more, header .navbar .menu .sign-up-navbar, header .navbar .menu .item-main, header .navbar .menu .login .btn-login, header .content-header .header-title-2 {
  color: #e0d1d1;
  font-size: .76rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  line-height: 35px;
  margin: 0 13px;
}

header .navbar .menu .login .btn-white, header .content-header .buttons-hero .btn-start-free, header .content-header .buttons-hero .btn-learn-more {
  color: #ff3d54;
  margin: 0;
  background-color: #FFF;
  padding: 5px 38px;
  border-radius: 25px;
}

header .navbar .menu .sign-up-navbar {
  color: #FFF;
  background-color: #ff7a85;
  padding: 5px 38px;
  border-radius: 25px;
}

header .content-header .header-title-1 {
  font-family: "overpass", sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
  color: #FFF;
}

.rotated {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section-1 .title {
  font-family: "overpass";
  color: #1f3f5b;
  font-size: 2rem;
  font-weight: 600;
}

.section-1 .content .content-text .title-content, .section-2 .content-text .content-title, .section-3 .content-text .content-title {
  font-family: "overpass";
  color: #1f3f5b;
  font-size: 1.4rem;
}

.section-1 .content .content-text .parraph-content, .section-2 .content-text .content-paragraph, .section-3 .content-text .content-paragraph {
  font-family: "overpass";
  color: #4b5862;
  font-size: .9rem;
  line-height: 25px;
}

header {
  height: 550px;
  background-image: url("../images/bg-pattern-intro-desktop.svg"), -webkit-gradient(linear, left top, right top, color-stop(8%, #ff8f70), color-stop(68%, #ff3d53));
  background-image: url("../images/bg-pattern-intro-desktop.svg"), linear-gradient(90deg, #ff8f70 8%, #ff3d53 68%);
  background-position: right 74% top 52%;
  background-repeat: no-repeat;
  position: relative;
  background-size: 220%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 0 0 0 100px;
}

header .navbar {
  width: 100%;
  padding: 60px 0;
}

header .navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .navbar .menu .menu-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar .menu .menu-brand ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

header .navbar .menu .menu-brand ul .option-hidden {
  color: black;
  font-family: Ubuntu;
  font-weight: 500;
  top: 48px;
  position: absolute;
  display: none;
  overflow: hidden;
  -webkit-transition: max-height .5s ease-in;
  transition: max-height .5s ease-in;
}

header .navbar .menu .menu-brand ul .option-hidden .content {
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  border-radius: 6px;
  padding: 27px 37px  27px 25px;
}

header .navbar .menu .menu-brand ul .option-hidden a {
  font-family: "ubuntu", sans-serif;
  padding: 7px 0;
}

header .navbar .menu .menu-brand ul .option-hidden a:hover {
  font-weight: 600;
}

header .navbar .menu .menu-brand .logo {
  height: 35px;
  margin: 0 45px 0 0;
}

header .navbar .menu .item-main {
  -webkit-transition: color .5s;
  transition: color .5s;
}

header .navbar .menu .item-main img.arrow-light {
  width: 12px;
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s, -webkit-transform .7s;
}

header .navbar .menu .item-main img.arrow-dark {
  display: none;
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s, -webkit-transform .7s;
}

header .navbar .menu .item-main:hover {
  color: #FFF;
  text-decoration: underline;
}

header .navbar .menu .sign-up-navbar {
  width: 135px;
  text-align: center;
}

header .navbar .menu .item-main-hidden {
  display: none;
}

header .navbar .menu .login .btn-login {
  -webkit-transition: color .5s;
  transition: color .5s;
}

header .navbar .menu .login .btn-login:hover {
  color: #FFF;
  text-decoration: underline;
}

header .navbar .menu .login .btn-white {
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .navbar .menu .login .btn-white:hover {
  background-color: #ff7a85;
  color: #FFF;
}

header .navbar .toggle {
  display: none;
}

header .content-header {
  padding: 0 30px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .content-header .header-title-1 {
  text-align: center;
}

header .content-header .header-title-2 {
  text-align: center;
  margin: 8px 0 35px 0;
  font-size: 1.1rem;
  font-weight: 500;
}

header .content-header .buttons-hero {
  text-align: center;
}

header .content-header .buttons-hero .btn-start-free {
  -webkit-transition: all .5s;
  transition: all .5s;
  padding: 3px 15px;
  margin-right: 10px;
}

header .content-header .buttons-hero .btn-start-free:hover {
  background-color: #ff7a85;
  color: #FFF;
}

header .content-header .buttons-hero .btn-learn-more {
  padding: 3px 15px;
  color: #FFF;
  background: none;
  border: solid 1px #FFF;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .content-header .buttons-hero .btn-learn-more:hover {
  background-color: #FFF;
  color: #ff525d;
}

@media screen and (max-width: 700px) {
  .divisor {
    display: block !important;
  }
  .login {
    display: none;
  }
  header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 70px 26px;
  }
  header .navbar .toggle {
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  header .content-header .header-title-1 {
    font-size: 2.2rem !important;
  }
  header .navbar .menu .item-main {
    color: black;
    font-size: 1.06rem;
    font-weight: 600;
  }
  header .navbar .menu .item-main img.arrow-dark {
    display: inline;
    width: 11px;
    height: 8px;
  }
  header .navbar .menu .item-main img.arrow-light {
    display: none;
  }
  header .navbar .menu .item-main:hover {
    font-weight: 700;
    color: black;
  }
  header .navbar .menu .item-main-hidden {
    display: block !important;
  }
  header .navbar .menu .menu-brand ul {
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    margin: 15px auto;
    width: 90%;
    background-color: #FFF;
    border-radius: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    padding: 30px 0;
  }
  header .navbar .menu .menu-brand ul li {
    padding: 12px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: none;
  }
  header .navbar .menu .menu-brand ul .option-hidden {
    position: static;
    width: 100%;
  }
  header .navbar .menu .menu-brand ul .option-hidden .content {
    background: #e6e5e5;
    margin: 19px 26px;
  }
  header .navbar .menu .menu-brand ul .option-hidden a {
    text-align: center;
    padding: 11px 0;
    color: #757575;
  }
}

.section-1 {
  padding: 120px 0;
  overflow: hidden;
}

.section-1 .title {
  text-align: center;
}

.section-1 .editor-mobile {
  display: none;
}

.section-1 .content {
  padding: 70px 90px;
  position: relative;
}

.section-1 .content .content-text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}

.section-1 .content .content-text .title-content {
  padding: 25px 0;
}

.section-1 .content .content-text .parraph-content {
  margin-bottom: 50px;
}

.section-1 .content .content-images img {
  z-index: -1;
  position: absolute;
  width: 60%;
  top: -17%;
  right: -17%;
}

@media screen and (max-width: 915px) {
  .section-1 .content {
    padding: 50px 60px;
  }
  .section-1 .content .content-images img {
    width: 60%;
    top: 9%;
    right: -17%;
  }
}

@media screen and (max-width: 700px) {
  .section-1 .editor-mobile {
    display: block;
    width: 100%;
    margin: auto;
  }
  .section-1 .content {
    padding: 30px 25px;
  }
  .section-1 .content .content-text {
    width: 100%;
  }
  .section-1 .content .content-text * {
    text-align: center;
  }
  .section-1 .content .content-text .title-content {
    font-size: 1.8rem;
  }
  .section-1 .content .content-images img {
    display: none;
  }
}

.section-2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: url("../images/bg-pattern-circles.svg"), linear-gradient(60deg, #2c2d36 20%, #3f4052 54%);
  background-repeat: no-repeat;
  background-position: -40% 85%, center;
  background-size: 70%, 100%;
  height: 330px;
  padding: 0 90px;
  margin-bottom: 100px;
  border-radius: 0 120px 0 120px;
}

.section-2 .image {
  min-height: 200px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  position: relative;
}

.section-2 .image img {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 490px;
}

.section-2 .content-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 50px;
}

.section-2 .content-text .content-title {
  color: #FFF;
  margin: 24px 0;
  font-size: 2rem;
}

.section-2 .content-text .content-paragraph {
  color: #FFF;
}

@media screen and (max-width: 1033px) {
  .section-2 {
    height: auto;
    padding: 50px 15px 90px 15px;
    margin-bottom: 120px;
    text-align: center;
  }
  .section-2 .image {
    padding: 50px 0;
  }
  .section-2 .image img {
    width: 60%;
    margin: auto;
  }
}

@media screen and (max-width: 700px) {
  .section-2 {
    height: auto;
    padding: 0 15px 40px 15px;
    margin-bottom: 40px;
    text-align: center;
    background-size: 150%;
    background-position: center 90%, 100%;
  }
  .section-2 .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 100%;
    padding: 50px 0;
  }
  .section-2 .image img {
    width: 40%;
    top: 0;
  }
  .section-2 .content-text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .section-2 {
    background-size: 160%;
    background-position: 50% 370%, 100%;
  }
  .section-2 .image {
    padding: 70px 0;
  }
  .section-2 .image img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    width: 100%;
    top: -80%;
  }
}

.section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 140px;
  padding: 50px 100px;
}

.section-3 .image img {
  position: absolute;
  top: -15%;
  left: -18.5%;
  width: 65%;
}

.section-3 .image img.mobile {
  display: none;
}

.section-3 .content-text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 50px;
}

.section-3 .content-text .content-title {
  margin: 24px 0;
  font-weight: 600;
}

@media screen and (max-width: 900px) {
  .section-3 {
    padding: 50px 30px;
  }
  .section-3 .content-text {
    padding: 0 14px;
  }
}

@media screen and (max-width: 700px) {
  .section-3 {
    padding: 50px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-3 .image {
    width: 100%;
    overflow: hidden;
  }
  .section-3 .image img {
    position: static;
    width: 100%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  .section-3 .image img.mobile {
    display: inline;
  }
  .section-3 .image img.desktop {
    display: none;
  }
  .section-3 .content-text {
    text-align: center;
    width: 100%;
    padding: 0 14px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0 90px 0 0;
  height: 330px;
  background-color: #25252d;
}

footer .brand {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10px;
          flex: 1 1 10px;
  text-align: center;
  padding: 60px;
}

footer .brand img {
  width: 85px;
}

footer .menu {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5 1 400px;
          flex: 2.5 1 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 60px 0;
}

footer .menu .col {
  height: 40%;
  margin: 0 70px;
}

footer .menu .col .title-col {
  font-family: "ubuntu", sans-serif;
  color: #FFF;
  font-size: .75rem;
  font-weight: 500;
  margin: 22px 0;
}

footer .menu .col li {
  padding: 5px 0;
}

footer .menu .col a {
  color: #c8c8cb;
  font-family: "ubuntu", sans-serif;
  font-size: .75rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

footer .menu .col a:hover {
  font-weight: 700;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  footer .menu .col {
    margin: 0 30px;
  }
}

@media screen and (max-width: 613px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  footer .brand {
    width: 100%;
    padding: 80px 0 20px 0;
  }
  footer .menu {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  footer .menu .col {
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }
}
/*# sourceMappingURL=custom.css.map */