* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Kumbh Sans;
  src: url(https://fonts.google.com/specimen/Kumbh+Sans);
}

.bgbody {
  overflow: hidden;
  height: 100vh;
  background-color: #19a2ae;
  /*PRUEBA DE POSICIONAR CIRCULOS DE FONDOS SEGUN
    PROPIEDAD DE background-position:, LA CUAL SALIO
    MAL*/
  /*background-image: url("../images/bg-pattern-top.svg"),url("../images/bg-pattern-bottom.svg");
    background-position: -400px -600px, 500px 400px;
    background-repeat: no-repeat;*/
}

.card-main {
  width: 360px;
  height: 380px;
  background: none;
  /*==========posiciono circulos de fondo========*/
  /*=====================================*/
}

.card-main .circle-1 {
  -webkit-transform: translate(-800px, -700px);
          transform: translate(-800px, -700px);
  z-index: 0;
}

.card-main .circle-2 {
  -webkit-transform: translate(-200px, -180px);
          transform: translate(-200px, -180px);
  z-index: 0;
}

.card-main .content-card {
  z-index: 10;
  position: relative;
}

.card-main .content-card .top-card {
  background-image: url(../images/bg-pattern-card.svg);
  height: 150px;
  border-radius: 20px 20px 0 0;
}

.card-main .content-card .top-card .image-perfil {
  margin-bottom: -280px;
}

.card-main .content-card .description-card {
  height: 230px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.card-main .content-card .description-card .middle {
  padding: 70px 0 20px 0;
  border-bottom: 1px #cdced0 solid;
}

.card-main .content-card .description-card .middle .name {
  font-family: Kumbh Sans, sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.card-main .content-card .description-card .middle .name .age {
  font-family: Kumbh Sans, sans-serif;
  font-weight: 100;
  color: #6a6f81;
  font-size: 18px;
  padding-left: 20px;
}

.card-main .content-card .description-card .middle .city {
  font-family: Kumbh Sans, sans-serif;
  padding-top: 8px;
  color: #6a6f81;
  font-weight: 400;
}

.card-main .content-card .description-card .bottom-card {
  text-align: center;
}

.card-main .content-card .description-card .bottom-card > * {
  font-family: Kumbh Sans, sans-serif;
  text-align: center;
  display: inline-block;
  margin: 0 8px;
  padding: 16px 15px;
  font-size: 20px;
  font-weight: 800;
}

.card-main .content-card .description-card .followers p {
  font-family: Kumbh Sans, sans-serif;
  font-size: 11px;
  color: #6a6f81;
  font-weight: 200;
  letter-spacing: 2px;
}

.card-main .content-card .description-card .likes p {
  font-family: Kumbh Sans, sans-serif;
  font-size: 11px;
  color: #6a6f81;
  font-weight: 200;
  letter-spacing: 2px;
}

.card-main .content-card .description-card .photos p {
  font-family: Kumbh Sans, sans-serif;
  font-size: 11px;
  color: #6a6f81;
  font-weight: 200;
  letter-spacing: 2px;
}

@media (max-width: 500px) {
  .card-main {
    width: 70%;
  }
  .card-main .bottom-card > * {
    margin: 0 !important;
    padding: 0 5px !important;
  }
}
/*# sourceMappingURL=custom.css.map */